In [19]:
import requests
import pandas as pd
import random
import re

In [21]:
# Парсер вакансий

number_of_pages = 100

specialization = ['Автомобильный бизнес', 'Административный персонал', 'Безопасность', 'Менеджмент', 'Добыча сырья',
                  'Домашний персонал', 'Обслуживающий персонал', 'Закупки', 'Информационные технологии', 'Искусство', 'Развлечения', 'Медиа',
                  'Маркетинг', 'Реклама', 'PR', 'Медицина', 'Фармацевтика', 'Наука', 'Образование', 'Продажи', 'Обслуживание клиентов',
                  'Производство', 'Сервисное обслуживание', 'Рабочий персонал', 'Розничная торговля', 'Сельское хозяйство',
                  'Спортивные клубы', 'Фитнес', 'Салоны красоты', 'Стратегия', 'Инвестиции', 'Консалтинг', 'Страхование',
                  'Строительство', 'Недвижимость', 'Транспорт', 'Логистика', 'Перевозки', 'Туризм', 'Гостиницы', 'Рестораны',
                  'Управление персоналом', 'Тренинги', 'Финансы', 'Бухгалтерия', 'Юристы', 'Дизайн']

for job_title in specialization:
  job_title = [job_title]
  for job in job_title:
      data=[]
      for i in range(number_of_pages):
          url = 'https://api.hh.ru/vacancies'
          par = {'text': job, 'area':'113','per_page':'10', 'page':i}
          r = requests.get(url, params=par)
          e=r.json()
          data.append(e)
          vacancy_details = data[0]['items'][0].keys()
          df = pd.DataFrame(columns= list(vacancy_details))
          ind = 0
          for i in range(len(data)):
              for j in range(len(data[i]['items'])):
                  df.loc[ind] = data[i]['items'][j]
                  ind+=1
      csv_name = job+".csv"
      df.to_csv(csv_name)

In [54]:
# Генерация работников с резюме

n = 1000

users_data = {
    "id": range(1, n + 1),
    "ник на сайте": [f"user{i}" for i in range(1, n + 1)],
    "фио": [f"ФИО {i}" for i in range(1, n + 1)],
    "пол": [random.choice(["М", "Ж"]) for _ in range(n)],
    "дата рождения": [f"{random.randint(1960, 2005)}-{random.randint(1, 12):02d}-{random.randint(1, 28):02d}" for _ in range(n)],
    "телефон": [f"+7{random.randint(1000000000, 9999999999)}" for _ in range(n)],
    "почта": [f"user{i}@example.com" for i in range(1, n + 1)],
    "образование": [random.choice(["Высшее", "Среднее", "Неоконченное высшее", "Колледж"]) for _ in range(n)],
    "факультет": [f"Факультет {random.randint(1, 300)}" for _ in range(n)],
    "специализация": [f"Специализация {random.randint(1, 150)}" for _ in range(n)],
    "год окончания": [random.randint(1980, 2023) for _ in range(n)],
    "опыт работы": [random.randint(0, 25) for _ in range(n)],
    "сфера работы": [random.choice(specialization) for _ in range(n)],
    "компании": [f"Компания {random.randint(1, 20)}" for _ in range(n)],
    "достижения": [f"Достижения {random.randint(1, 150)}, {random.randint(1, 150)}" for _ in range(n)],
    "навыки": [f"Навыки {random.randint(1, 150)}, {random.randint(1, 150)}" for _ in range(n)],
    "адрес": [f"Адрес {i}" for i in range(1, n + 1)],
    "тип занятности": [random.choice(['Волонтёрство', 'Полная занятость', 'Частичная занятость', 'Стажировка']) for i in range(1, n + 1)],
    "зарплата": [random.randint(15, 500)*1000 for i in range(1, n + 1)],
}

users_df = pd.DataFrame(users_data)
users_df.head()

,id,ник на сайте,фио,пол,дата рождения,телефон,почта,образование,факультет,специализация,год окончания,опыт работы,сфера работы,компании,достижения,навыки,адрес,тип занятности,зарплата
0,1,user1,ФИО 1,Ж,1994-02-07,+75404859626,user1@example.com,Колледж,Факультет 282,Специализация 113,1992,20,Информационные технологии,Компания 15,"Достижения 46, 125","Навыки 29, 1",Адрес 1,Стажировка,424000
1,2,user2,ФИО 2,Ж,1964-01-22,+78722760781,user2@example.com,Высшее,Факультет 209,Специализация 71,1984,2,Финансы,Компания 13,"Достижения 82, 91","Навыки 6, 119",Адрес 2,Стажировка,107000
2,3,user3,ФИО 3,Ж,1986-04-18,+75174709787,user3@example.com,Неоконченное высшее,Факультет 239,Специализация 61,2002,10,Развлечения,Компания 14,"Достижения 111, 105","Навыки 8, 43",Адрес 3,Стажировка,338000
3,4,user4,ФИО 4,Ж,1984-01-18,+75829496653,user4@example.com,Высшее,Факультет 278,Специализация 108,2022,7,Транспорт,Компания 7,"Достижения 5, 103","Навыки 57, 22",Адрес 4,Полная занятость,432000
4,5,user5,ФИО 5,Ж,1971-07-11,+77264447464,user5@example.com,Колледж,Факультет 3,Специализация 134,2013,16,Сельское хозяйство,Компания 13,"Достижения 80, 97","Навыки 24, 29",Адрес 5,Стажировка,113000

In [55]:
# Рандомный работник
id = random.randint(0, 999)
user = users_df.iloc[id]
print(user)

id                                982
ник на сайте                  user982
фио                           ФИО 982
пол                                 Ж
дата рождения              1961-02-27
телефон                  +73571445722
почта             user982@example.com
образование                    Высшее
факультет                Факультет 18
специализация       Специализация 144
год окончания                    2021
опыт работы                        20
сфера работы                Стратегия
компании                   Компания 2
достижения         Достижения 67, 109
навыки                 Навыки 121, 22
адрес                       Адрес 982
тип занятности       Полная занятость
зарплата                        88000
Name: 981, dtype: object

In [36]:
# Функция для фильтрации по специализации и профессии
def filter_specialization(special):
    return pd.read_csv(special + '.csv')

In [37]:
# Функция для фильтрации по навыкам ???

In [39]:
# Функция для фильтрации по опыту
def filter_experience(row, min_years):
    match = re.search(r'(\d+)', row)
    if match:
        years = int(match.group(1))
        return years <= min_years or row.find('Нет опыта') != -1
    return False

#min_experience_years = 3
#filtered_vacancies = df[df['experience'].apply(lambda x: filter_experience(x, min_experience_years))]
#filtered_vacancies.head(10)

In [46]:
# Функция для фильтрации по зарплате
def filter_salary(row, min_salary):
    match = re.search(r'(\d+)', row)
    if match:
        salary = int(match.group(1))
        return salary <= min_salary
    return False

In [41]:
# Функция для фильтрации по типу занятности
def filter_employment(row, employment):
    return row.find(employment) != -1

In [57]:
# Подбор вакансий под резюме работника
vacancies_df = filter_specialization(user['сфера работы'])

filtered_vacancies = vacancies_df[vacancies_df['experience'].apply(lambda x: filter_experience(x, user['опыт работы']))]
filtered_vacancies = vacancies_df[vacancies_df['salary'].apply(lambda x: filter_salary(str(x), user['зарплата']))]
filtered_vacancies = vacancies_df[vacancies_df['employment'].apply(lambda x: filter_employment(x, user['тип занятности']))]

filtered_vacancies.head(10)

,Unnamed: 0,id,premium,name,department,has_test,response_letter_required,area,salary,type,...,night_shifts,professional_roles,accept_incomplete_resumes,experience,employment,employment_form,internship,adv_response_url,is_adv_vacancy,adv_context
0,0,115427719,False,Директор по безопасности,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 500000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '40', 'name': 'Другое'}]",True,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
1,1,115408436,False,Директор по управлению проектами (PMO Director),NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 950000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '40', 'name': 'Другое'}]",True,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
2,2,115433873,False,Исполнительный директор,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 700000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '26', 'name': 'Генеральный директор, и...",False,"{'id': 'moreThan6', 'name': 'Более 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
3,3,115398789,False,Руководитель регионального направления / Руков...,NaN,False,False,"{'id': '24', 'name': 'Волгоград', 'url': 'http...","{'from': 150000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '106', 'name': 'Руководитель отдела пр...",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
4,4,115405026,False,Исполнительный директор по Информационным техн...,NaN,True,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",NaN,"{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '36', 'name': 'Директор по информацион...",False,"{'id': 'moreThan6', 'name': 'Более 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
5,5,115434082,False,Директор по персоналу,NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 600000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '38', 'name': 'Директор по персоналу (...",False,"{'id': 'moreThan6', 'name': 'Более 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
6,6,115395687,False,Исполнительный директор,NaN,False,False,"{'id': '90', 'name': 'Томск', 'url': 'https://...",NaN,"{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '26', 'name': 'Генеральный директор, и...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
7,7,115411619,False,Генеральный директор (CEO),NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...","{'from': 1500000, 'to': None, 'currency': 'RUR...","{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '26', 'name': 'Генеральный директор, и...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
8,8,115411432,False,Руководитель региона (Юг),NaN,False,False,"{'id': '53', 'name': 'Краснодар', 'url': 'http...",NaN,"{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '106', 'name': 'Руководитель отдела пр...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN
9,9,115421707,False,Специалист по внутренней логистике (HUGO BOSS),NaN,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",NaN,"{'id': 'open', 'name': 'Открытая'}",...,False,"[{'id': '67', 'name': 'Менеджер по логистике, ...",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}","{'id': 'FULL', 'name': 'Полная'}",False,NaN,False,NaN

In [ ]:
# Сохранение в БД
with pd.ExcelWriter("Вакансии.xlsx") as writer:
    for special in specialization:
      vacancies_df = pd.read_csv(special + '.csv')
      vacancies_df.to_excel(writer, sheet_name=special, index=False)
with pd.ExcelWriter("Резюме.xlsx") as writer:
    users_df.to_excel(writer)

In [ ]:
# Тесты #